<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktjiaoyu.mapper.supplier.SupplierMapper">

    <select id="getSupplierList" resultType="com.ktjiaoyu.entity.Supplier">
        SELECT *
        FROM supplier
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM supplier
    </select>
</mapper>