<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktjiaoyu.mapper.supplier.SupplierMapper">
    <insert id="addSupplier" parameterType="supplier">
        INSERT INTO supplier (supCode, supName, supDesc, supContact, supPhone, supAddress, supFax, bizPicPath,
                              createdUserId, createdTime)
        VALUES (#{supCode}, #{supName}, #{supDesc}, #{supContact}, #{supPhone},
                #{supAddress}, #{supFax}, #{bizPicPath}, #{createdUserId}, #{createdTime})
    </insert>
    <update id="updateSupplierById" parameterType="supplier">
        UPDATE supplier
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test="supCode != null">supCode=#{supCode},</if>
            <if test="supName != null">supName=#{supName},</if>
            <if test="supDesc != null">supDesc=#{supDesc},</if>
            <if test="supContact != null">supContact=#{supContact},</if>
            <if test="supPhone != null">supPhone=#{supPhone},</if>
            <if test="supAddress != null">supAddress=#{supAddress},</if>
            <if test="supFax != null">supFax=#{supFax},</if>
            <if test="bizPicPath != null">bizPicPath=#{bizPicPath},</if>
            <if test="updatedUserId != null">updatedUserId=#{updatedUserId},</if>
            <if test="updatedTime != null">updatedTime=#{updatedTime},</if>
        </trim>
    </update>
    <delete id="deleteSupplierById" parameterType="supplier">
        DELETE
        FROM supplier
        WHERE id = #{id}
    </delete>

    <select id="getSupplierList" resultType="Supplier">
        SELECT *
        FROM supplier
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM supplier
    </select>
    <select id="getSupplierListAndStorageRecordListBySupId" resultMap="supplierListAndStorageRecordList">
        SELECT sl.id as sup_id,
               sl.supCode,
               sl.supName,
               sl.supContact,
               sl.supPhone,
               sr.id as sr_id,
               sr.srCode,
               sr.goodsName,
               sr.totalAmount,
               sr.payStatus
        FROM supplier sl,
             storage_record sr
        WHERE sl.id = #{id}
          AND sl.id = sr.supplierId
    </select>
    <select id="listSupplierByChoose" resultType="Supplier">
        SELECT * FROM supplier
        <choose>
            <when test="supName !=null and supName != '  '  ">
                and supName = #{supName}
            </when>
            <when test="supCode !=null and supCode != ' ' ">
                and supCode = #{supCode}
            </when>
            <when test="supContact !=null and supContact != ' ' ">
                and supContact= #{supContact}
            </when>
            <otherwise>
                and YEAR(createdTime) = TEAR (#{createdTime})
            </otherwise>
        </choose>
    </select>

    <resultMap id="supplierListAndStorageRecordList" type="Supplier">
        <id property="id" column="sup_id"/>
        <result property="supCode" column="supCode"/>
        <result property="supName" column="supName"/>
        <result property="supContact" column="supContact"/>
        <result property="supPhone" column="supPhone"/>
        <collection property="storageRecord" ofType="storageRecord">
            <id property="id" column="sr_id"/>
            <result property="srCode" column="srCode"/>
            <result property="goodsName" column="goodsName"/>
            <result property="totalAmount" column="totalAmount"/>
            <result property="payStatus" column="payStatus"/>
        </collection>
    </resultMap>

    <select id="selectPageList" resultType="Supplier">
        SELECT * FROM supplier
        <trim prefix="where" prefixOverrides="and|or">
            <if test="supName != null and supName != '  '">
                AND supName LIKE CONCAT('%', #{supName}, '%')
            </if>
            <if test="supCode != null and supCode != '  '">
                AND supCode LIKE CONCAT('%', #{supCode}, '%')
            </if>
            <if test="supContact != null and supContact != '  '">
                AND supContact LIKE CONCAT('%', #{supContact}, '%')
            </if>
        </trim>
        ORDER BY createdTime DESC
        LIMIT #{pageBegin}, #{pageSize}
    </select>
</mapper>