<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 系统用户数据访问映射 -->
<mapper namespace="com.ktjiaoyu.mapper.user.SysUserMapper">
    <insert id="addUser" parameterType="sysUser">
        INSERT INTO sys_user (account, realName, password, sex, birthday, phone, address, roleId, createdUserId,
                              createdTime)
        VALUES (#{account}, #{realName}, #{password}, #{sex}, #{birthday}, #{phone}, #{address}, #{roleId},
                #{createdUserId}, #{createdTime})
    </insert>
    <update id="updateUser" parameterType="sysUser">
        UPDATE sys_user
        SET account=#{account},
            realName=#{realName},
            password=#{password},
            sex=#{sex},
            phone=#{phone},
            address=#{address},
            birthday=#{birthday},
            roleId=#{roleId},
            updatedUserId=#{updateUserId},
            updatedTime=#{updateTime}
        WHERE id = #{id}
    </update>
    <delete id="deleteUserById" parameterType="sysUser">
        DELETE
        FROM sys_user
        WHERE id = #{id}
    </delete>
    <!-- 统计系统用户总数 -->
    <select id="count" resultType="int">
        SELECT COUNT(1)
        FROM sys_user
    </select>
    <!-- 查询用户列表-->
    <select id="getUserList" resultType="SysUser">
        SELECT *
        FROM sys_user
    </select>
    <!-- 根据姓名查询用户列表-->
    <select id="getUserListByName" resultType="SysUser">
        SELECT *
        FROM sys_user
        WHERE realName LIKE CONCAT('%', #{param}, '%')
    </select>
    <!-- 查询用户列表-->
    <select id="getUserListByEntity" resultType="SysUser">
        SELECT *
        FROM sys_user
        WHERE realName LIKE CONCAT('%', #{realName}, '%')
          AND roleId = #{roleId}
    </select>
    <select id="getUserListByMap" resultType="SysUser">
        SELECT *
        FROM sys_user
        WHERE realName LIKE CONCAT('%'#{rName}, '%')
          AND roleId = #{rId};
    </select>
    <select id="getUserListByParams" resultType="SysUser">
        SELECT *
        FROM sys_user
        WHERE realName like CONCAT('%' #{realName}, '%')
          AND roleID = #{roleId}
    </select>
    <select id="getUserListWithRoleName" parameterType="sysUser" resultMap="userWithRoleName">
        SELECT u.*, r.roleName
        FROM sys_user u,
             sys_role r
        WHERE u.realName LIKE CONCAT('%', #{realName}, '%')
          AND u.roleId = #{roleId}
          AND u.roleId = r.id
    </select>
    <select id="getUserListByRoleId" resultMap="userWithSysRole">
        SELECT su.*, sr.id as rid, sr.code, sr.roleName
        FROM sys_user su,
             sys_role sr
        WHERE su.roleId = #{roleId}
          AND su.roleId = sr.id
    </select>
    <select id="getUserAndAddressByUserId" resultMap="userWithAddresses">
        SELECT su.*, ar.id as aid, ar.contact, ar.addressDesc, ar.postCode, ar.tel
        FROM sys_user su,
             address ar
        WHERE su.id = #{userId}
          AND su.id = ar.userId
    </select>

    <resultMap type="sysUser" id="SysUserResult">
        <result property="userRoleName" column="roleName"/>
    </resultMap>
    <select id="selectList" resultMap="SysUserResult">
        SELECT *
        from sys_user
        <where>
            <if test="roleId != null">
                AND roleId = #{roleId}
            </if>
            <if test=" realName !=null and realName != '  '  ">
                AND u.realName LIKE CONCAT('%', #{realName}, '%')
            </if>
        </where>
    </select>
    <select id="selectListByChoose" resultType="SysUser">
        SELECT * FROM sys_user
        <where>
            <choose>
                <when test="realName !=null and realName != '  '   ">
                    and realName like CONCAT ('%', #{realName} , '%')
                </when>
                <when test=" roleId !=null">
                    and roleId = #{roleId}
                </when>
                <when test="account !=null and account != '  '">
                    and account like CONCAT ('%' , #{realName}, '%')
                </when>
                <otherwise>
                    and YEAR(createdTime) = TEAR (#{createdTime})
                </otherwise>
            </choose>
        </where>
    </select>

    <resultMap id="userWithAddresses" type="sysUser">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="realName" column="realName"/>
        <collection property="addressList" ofType="address">
            <id property="id" column="aid"/>
            <result property="contact" column="contact"/>
            <result property="addressDesc" column="addressDesc"/>
            <result property="postCode" column="postCode"/>
            <result property="tel" column="tel"/>
        </collection>
    </resultMap>

    <resultMap id="userWithSysRole" type="sysUser">
        <id property="id" column="id"/>
        <result property="realName" column="realName"/>
        <association property="sysRole" javaType="sysRole">
            <id property="id" column="rid"/>
            <result property="code" column="code"/>
            <result property="roleName" column="roleName"/>
        </association>
    </resultMap>

    <resultMap id="userWithRoleName" type="sysUser">
        <id property="id" column="id"/>
        <result property="userRoleName" column="roleName"/>
    </resultMap>

</mapper>