<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktjiaoyu.mapper.storage_record.storage_recordMapper">

    <select id="getStorageRecordList" resultType="com.ktjiaoyu.entity.StorageRecord">
        SELECT * FROM storage_record WHERE goodsName LIKE CONCAT('%',#{goodsName} ,'%')
        AND supplierId = #{supplierId} AND payStatus = #{payStatus}
    </select>
    <select id="getStorageRecordWithSupplierName" resultMap="storageRecordWithSupplierName">
        SELECT sr.* , sl.supName FROM storage_record sr ,supplier sl WHERE sr.goodsName LIKE CONCAT('%' , #{goodsName}, '%')
        AND sr.supplierId = #{supplierId}
        AND sr.supplierId = sl.id
    </select>
    <resultMap id="storageRecordWithSupplierName" type="storageRecord">
        <id property="id" column="id"/>
        <result property="supplierName" column="supName"/>
    </resultMap>

</mapper>