<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktjiaoyu.mapper.storage_record.storage_recordMapper">

    <select id="getStorageRecordList" resultType="com.ktjiaoyu.entity.StorageRecord">
        SELECT *
        FROM storage_record
        WHERE goodsName LIKE CONCAT('%', #{goodsName}, '%')
          AND supplierId = #{supplierId}
          AND payStatus = #{payStatus}
    </select>
    <select id="getStorageRecordWithSupplierName" resultMap="storageRecordWithSupplierName">
        SELECT sr.*, sl.supName
        FROM storage_record sr,
             supplier sl
        WHERE sr.goodsName LIKE CONCAT('%', #{goodsName}, '%')
          AND sr.supplierId = #{supplierId}
          AND sr.supplierId = sl.id
    </select>
    <select id="getStorageRecordListAndSupplierList" resultMap="storageRecordListAndSupplierList">
        SELECT sr.*, sl.id as sId, sl.supName, sl.supCode, sl.supContact, sl.supPhone
        FROM storage_record sr,
             supplier sl
        WHERE sr.supplierId = #{supplierId}
          AND sr.supplierId = sl.id
    </select>

    <resultMap id="storageRecordResult" type="StorageRecord">
        <result property="supplierId" column="supplierId"/>
    </resultMap>
    <select id="storageRecordList" resultMap="storageRecordResult">
        SELECT sr.* , sl.supName FROM storage_record sr , supplier sl
        <where>
            sr.supplierId = sl.id
            <if test="goodsName != null">
                AND sr.goodsName LIKE CONCAT ('%', #{goodsName} ,'%')
            </if>
            <if test="supplierId != null">
                AND sr.supplierId = #{supplierId}
            </if>
            <if test="payStatus !=null">
                AND sr.payStatus = #{payStatus}
            </if>

        </where>
    </select>
    <select id="selectSrBySupplierIdArray" resultType="StorageRecord">
        select * from storage_record where supplierId in
        <foreach collection="array" item="item" open="(" separator="," close=" )">
            #{item}
        </foreach>
    </select>
    <select id="selectBySupplierIdArrayList" resultType="StorageRecord">
        select * from storage_record where supplierId in
        <foreach collection="list" item="item" open="(" separator="," close=" )">
            #{item}
        </foreach>
    </select>
    <select id="getSrBySupplierIdMap" resultType="StorageRecord">
        select * from storage_record where supplierId in
        <foreach collection="list" item="item" open="(" separator="," close=" )">
            #{item}
        </foreach>
    </select>

    <resultMap id="storageRecordListAndSupplierList" type="storageRecord">
        <id property="id" column="id"/>
        <result property="goodsName" column="goodsName"/>
        <result property="srCode" column="srCode"/>
        <result property="totalAmount" column="totalAmount"/>
        <result property="payStatus" column="payStatus"/>
        <association property="supplier" javaType="supplier">
            <id property="id" column="sId"/>
            <result property="supName" column="supName"/>
            <result property="supCode" column="supCode"/>
            <result property="supContact" column="supContact"/>
            <result property="supPhone" column="supPhone"/>
        </association>
    </resultMap>


    <resultMap id="storageRecordWithSupplierName" type="storageRecord">
        <id property="id" column="id"/>
        <result property="supplierName" column="supName"/>
    </resultMap>

</mapper>